body{
    animation-name: colors;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.photo1,.photo2{

    margin-left:180px;
    animation-name: photos;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.name1,.name2{

    font-size: xxx-large;
    font-weight: bolder;
    font-style: italic;
    color: brown;
    text-align: center;
    text-shadow: 1px 1px 1px brown;
    cursor: pointer;

}

@keyframes photos {
    0%{
         transform:translatex(-2px);
         transform: scaleX(1.1); 
    }
    50%{
        transform:translatex(-4px);
        transform: scaleX(1.2);

    }
    100%{
        transform:translatex(-6px);
        transform: scaleX(1);
    }
    
}

@keyframes colors {
    0%{
        background-color: black;
    }
    20%{
         background-color: rgb(13, 116, 55);

    }
    40%{
        background-color: rgb(16, 109, 163); 
    }
    60%{
        background-color: rgb(153, 35, 104); 
    }
    80%{
        background-color: rgb(116, 83, 13); 
    }
    100%{
        background-color: rgb(45, 24, 65);
    }
    
}